.postViewContainer {
    z-index: 1;
    background: #ffffff;
    width: 70vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0,0,0,0.2);
}

.postViewLeftContainer {
    width: 70vh;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postViewRightContainer {
    display: flex;
    flex-direction: column;
}

.postViewHeader {
    display: flex;
    flex-direction: row;
}

.postViewHeader img {
    border-radius: 50%;
    border: 2px solid #d0d0d0;
    height: 6vh;
    width: 6vh;
    margin: 10px 10px;
}

.postViewHeader a {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    text-align: center;
    margin: calc(2.7vh) 10px;
}

.postViewHeader a:hover {
    text-decoration: underline black;
}
