.sidebar {
    height: 95vh;
    width: 15vw;
    background: #e2e2e2;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.sidebarHeading {
    font-family: 'Zen Dots', cursive;
    font-size: 1.8em;
    display: grid;
    place-items: center;
    background: #dedede;
    padding: 0.5em 0.2em 0.2em;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    list-style-type: none;
    text-align: center;
    width: 95%;
    display: grid;
    place-items: center;
    grid-row: 1;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    border-radius: 5px;
    transition: .3s;
    border: 1px solid #cacaca;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar ul li:hover {
    background: #14abe3;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border: none;
}

.sidebar ul li .name {
    display: block;
}

@media only screen and (max-width: 1264px) {
    .sidebar ul li .name {
        display: none;
    }
    .sidebar ul li {
        grid-row: 1;
        grid-template-columns: none;
    }
    .sidebarHeading {
        color: #dedede;
    }
}
